html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main.content {
  flex: 1 0 auto;
  margin: 48px auto;
}

a {
  text-decoration: none;
}

footer {
  flex-shrink: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
  text-align: center;
}

@media (--small-1) {
  .container {
    max-width: 540px;
  }
}

@media screen and (--medium) {
  .container {
    max-width: 720px;
  }
}

@media screen and (--large) {
  .container {
    max-width: 960px;
  }
}

@media screen and (--extra-large) {
  .container {
    max-width: 1140px;
  }
}
