@import '../_breakpoints.css';

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.books-list-item {
  margin: 8px;
  flex: 0 0 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--black);
  border-radius: 5px;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.books-list-item:hover {
  border: none;
  box-shadow: 1px 1px 3px var(--navbar-bg);
}

.books-list-item:hover img {
  transform: scale(1.2);
}

.books-list-link {
  width: 100%;
  height: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: var(--black);
}

.books-list-img {
  width: 220px;
  height: auto;
  aspect-ratio: 440 / 514;
  transition: transform 0.5s ease-in-out;
}

.books-list-text {
  padding: 0 2px;
}

@media screen and (--small-3) {
  .books-list-item {
    flex: 0 0 45%;
  }

  .books-list-img {
    width: 208px;
  }
}

@media screen and (--medium) {
  .books-list-img {
    width: 289px;
  }
}

@media screen and (--large) {
  .books-list-item {
    flex: 0 0 26%;
  }

  .books-list-img {
    width: 220px;
  }
}

@media screen and (--extra-large) {
  .books-list-img {
    width: 267px;
  }
}
