:root {
  --navbar-bg: #343a40;
  --welcome-bg: #c8c8c8;
  --white: #ffffff;
  --black: #000000;
  --orange: #e68f2c;
  --red: #dc3545;
  --dark-red: #da0c20;
  --blue: #000bad;
  --footer-link: #40bcf9;
  --gray: #4a4a4a;
  --book-Info-bg: #f2f2f2;
  --img-border: #dee2e6;
  --img-bg: #f8f9fa;
}
